@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/maps";

@import "./base/reset";
@import "./base/tipografias";

@import "./layout/header";
@import "./layout/header-servicios";
@import "./layout/header-cotizador";
@import "./layout/main";
@import "./layout/main-servicios";
@import "./layout/main-cotizador";
@import "./layout/footer";
@import "./layout/main-servicios";
@import "./layout/main-cotizador";

@import "./component/navbar";
@import "./component/card";
@import "./component/contact";
@import "./component/hero";

