footer {
    margin-top: 5rem;
    padding: 2rem 1.5rem;
    background-color: map-get($colors, color3);
    color: map-get($colors, color1);

    @include flex(column, center, center, nowrap, 1rem);
    text-align: center;

    p {
        font-size: 0.85rem;
        opacity: 0.9;
    }
}


.socialred {
    @include flex(column, center, center, nowrap, 0.5rem);
    font-size: 0.85rem;

    div {
        @include flex(row, center, center, nowrap, 0.4rem);
        cursor: default;
        opacity: 0.85;
        transition: opacity 0.3s ease;

        i {
            color: map-get($colors, color5);
            font-size: 0.9rem;
        }

        &:hover {
            opacity: 1;
        }

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

    }
}