@mixin flex($direction, $justify, $items, $wrap, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin grid($col, $row, $justify, $align) {
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    justify-content: $justify;
    align-items: $align;
}