.navbar {
    @include flex(row, space-between, center, wrap, none);

    background-color: map-get($colors , color1);
    width: 100%;
    height: auto;
    padding: 10px 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .logo {
        width: auto;
    }
}
nav {
    ul {
        list-style: none;
        display: flex;
        gap: 2rem;

        li {
            margin: 5px 0;

            a {
                text-decoration: none;
                color: map-get($colors, color3);
                font-weight: 500;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: map-get($colors, color5);
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}